@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,100..800;1,100..800&display=swap');




#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #F6FEFF;
  /* font-family: "Inter", sans-serif; */
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-optical-sizing: auto;
}


* {
  font-family: 'Plus Jakarta Sans', sans-serif;
}