@import "tailwindcss";

@theme {
  --color-institutional-white: #F5F5F5;
  --color-institutional-navy: #0B1E3B;
  --color-institutional-charcoal: #1A1A1A;
  --color-institutional-teal: #0d9488;
  --color-institutional-red: #8B0000;
  --color-institutional-slate: #94a3b8;
  --color-analytics-bg: #0B0F19;
}


* {
  font-family: 'Plus Jakarta Sans', sans-serif !important;
}

/* h1 {
  font-weight: bolder !important;
} */



:root {


  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #F0FAFC !important;
}